version: 2
updates:
  - package-ecosystem: 'cargo'
    directory: '/'
    schedule:
      interval: 'weekly'
      day: 'saturday'
      time: '06:00'
    groups:
      all:
        patterns:
          - '*'
