name: Release

on:
  release:
    types: [ published ]

env:
  CARGO_TERM_COLOR: always

permissions:
  contents: write

jobs:
  build-release:
    name: Build Release
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: dtolnay/rust-toolchain@stable

      - name: Build Release
        run: cargo build --release

      - name: Upload Binaries
        uses: softprops/action-gh-release@v1
        with:
          files: |
            ./target/release/theme_picker
            ./target/release/norlyk
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
