name: Release

on:
  push:
    tags:
      - 'v*'

env:
  CARGO_TERM_COLOR: always

jobs:
  create-release:
    name: Create Release
    runs-on: ubuntu-latest
    outputs:
      upload_url: ${{ steps.create_release.outputs.upload_url }}
    steps:
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          draft: false
          prerelease: false

  build-release:
    name: Build Release
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            suffix: linux-x86_64
            exe_suffix: ""

          - os: macos-latest
            target: x86_64-apple-darwin
            suffix: macos-x86_64
            exe_suffix: ""

          - os: macos-14
            target: aarch64-apple-darwin
            suffix: macos-aarch64
            exe_suffix: ""

          - os: windows-latest
            target: x86_64-pc-windows-msvc
            suffix: windows-x86_64
            exe_suffix: .exe

    steps:
      - uses: actions/checkout@v4

      - uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.target }}

      - name: Build Release
        run: cargo build --release --target ${{ matrix.target }}

      - name: Upload theme_picker Binary
        uses: softprops/action-gh-release@v1
        with:
          files: ./target/${{ matrix.target }}/release/theme_picker${{ matrix.exe_suffix }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload norlyk Binary
        uses: softprops/action-gh-release@v1
        with:
          files: ./target/${{ matrix.target }}/release/norlyk${{ matrix.exe_suffix }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
