name: Release

on:
  release:
    types: [published]

env:
  CARGO_TERM_COLOR: always

jobs:
  build-release:
    name: Build Release
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            suffix: linux-x86_64
            exe_suffix: ""

          - os: macos-latest
            target: x86_64-apple-darwin
            suffix: macos-x86_64
            exe_suffix: ""

          - os: macos-14
            target: aarch64-apple-darwin
            suffix: macos-aarch64
            exe_suffix: ""

          - os: windows-latest
            target: x86_64-pc-windows-msvc
            suffix: windows-x86_64
            exe_suffix: .exe

    steps:
      - uses: actions/checkout@v4

      - uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.target }}

      - name: Build Release
        run: cargo build --release --target ${{ matrix.target }}

      - name: Upload theme_picker Binary
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: ./target/${{ matrix.target }}/release/theme_picker${{ matrix.exe_suffix }}
          asset_name: theme_picker-${{ matrix.suffix }}${{ matrix.exe_suffix }}
          asset_content_type: application/octet-stream

      - name: Upload norlyk Binary
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: ./target/${{ matrix.target }}/release/norlyk${{ matrix.exe_suffix }}
          asset_name: norlyk-${{ matrix.suffix }}${{ matrix.exe_suffix }}
          asset_content_type: application/octet-stream
